@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "acumin";
  src: url("/fonts/Acumin-RPro.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acumin";
  src: url("/fonts/Acumin-BdPro.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "acumin";
  src: url("/fonts/Acumin-ItPro.woff") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "acumin";
  src: url("/fonts/Acumin-BdItPro.woff") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e1dfde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* waving hand*/
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
